.inputField{
    
    margin: 20px auto 10px auto;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border-style: dashed;
    border-color: red;
}

.buttonField{
    margin: 20px auto 10px auto;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    border-style: dashed;
    border-color: red;
}

.selectField{
    margin: 10px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border-style: dashed;
    border-color: red;
}

.textareaField{
    margin: 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border-style: dashed;
    border-color: red;
}

.centered{
    margin-left: auto;
    margin-right: auto;
    
}

.row{
    margin: 20px auto 10px auto;
    border-radius: 10px;
    width: auto;
}

